/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --dark-grey: #d9d9d9;
    --black: #000;
    --white: #fff;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo_booki {
    width: 61px;
    height: 19px;
    padding: 30px 0px 60px 0px;
}

.menu_nav_item:hover {
    border-top: 2px solid var(--main-color);
    width: 100%;
    padding-top: 14px;
}

ul {
    display: flex;
    gap: 68px;
    list-style-type: none;
}

h1 {
    margin-bottom: 8px;
}

p {
    margin-top: 8px;
    margin-bottom: 35px;
}

.formulaire_recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;
}

.fa-location-dot {
    background-color: var(--main-bg-color);
    padding: 18px 18px 18px 18px;
    border-radius: 14px 0px 0px 14px;
    font-size: 22px;
}

.icone-marqueur {
    color: var(--black);
}

.champs_recherche {
    border: 1px solid var(--main-bg-color);
    padding: 14px 24px 14px 24px;
    margin-right: -5px;
    font-size: 1.5em;
    font-weight: bold;
}

.bouton-rechercher {
    background-color: var(--main-color);
    padding: 15px 16px 15px 16px;
    border: none;
    border-radius: 0px 14px 14px 0px;
    color: var(--white);
    font-size: 1.5em;
    font-weight: bold;
}

.bouton_loupe {
    display: none;
}

.zone_filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    margin-bottom: 37px;
}

.eco, .famille, .romantique, .pepites {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 2px solid var(--dark-grey);
    border-radius: 50px 50px 50px 50px;
    gap: 10px;
}

.bouton_filtres {
    border: none;
    background-color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.point_info {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icone-info {
    border-radius: 50%;
    border: 2px solid var(--main-bg-color);
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
}

.zone_filtres .fa-solid, 
.hebergements-and-populaires .fa-solid {
    color: var(--main-color);
    font-size: 22px;
}

.point_info .fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.card-rating .neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 30px;
}

.hebergements-cards img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    margin-bottom: 8px;
}

.hebergements-cards .card-rating {
    padding-top: 8px;
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .bouton_texte {
        display: none;
    }

    .bouton_icone {
        display: inline;
        color: var(--white);
    }

    .loupe-mobile .fa-solid {
        color: var(--white);
    }
}